{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Homework</h1>

        <hr>

        {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            <p>
                <a class="ajax" href="{{ path('loadLastPosts', {'limit': 200}) }}">Load last 200 posts from all pages</a>
            </p>
        </div>


        <div class="row">
            <div class="col-12 col-md-12">
                <h2>Load Facebook page:</h2>
                {{ form(page_form) }}
                <hr>
            </div>

            <div class="col-12 col-md-12 mt-2">
                {% for page in pages %}
                    <div class="page">
                        <p>Name: <strong>{{ page.name }}</strong></p>
                        <p>Id: <strong>{{ page.pageId }}</strong></p>
                        <p>Url: <a href="{{ page.pageUrl }}">{{ page.pageUrl }}</a></p>
                        <p>Posts: <span class="p-{{ page.id }}">{{ postCount[page.id] }}</span></p>
                        <p>
                            <a class="ajax" href="{{ path('loadLastPostFromPage', {'page': page.id, 'limit': 200}) }}">Load last 200 post.</a> |
                            <a class="ajax" href="{{ path('removePage', {'page': page.id}) }}">Remove this page from list</a>
                        </p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}

    <script>
        $(document).ajaxStart(function() {
            $(document.body).css({'cursor' : 'wait'});
        }).ajaxStop(function() {
            $(document.body).css({'cursor' : 'default'});
        });

        jQuery(document).ready(function ($) {
            $(document).on('click', '.ajax', function (element) {
                element.preventDefault();
                let uri = $(this).attr('href');

                $.get(uri, function (data) {
                    $('.p-' + data.id).html(data.count);
                });
            });
        });
    </script>

{% endblock %}
